body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bg-custom-g {
    background-color: #eeeeee;
    margin-top: -15px;
}


#left-container {
    background-color: #1D4DE8;
    text-align: center;
}

#left-container h1 {
    font-size: 50px;
    margin-top: 50px;
}

#left-container p {
    text-align: justify;
    font-size: 16px;
    margin-top: 70px;
}

.service-card {
    width: 27%;
    margin: 10px;
    text-align: center;
}

.description-service {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.2;
}

.img-service-card {
    width: 40%;
}



/* PERFIL DE DESARROLLADORES */

#profiles {
    margin-bottom: 50px;
}

#profiles .card {
    width: 45vw;
    margin: 15px;
    /* Espaciado entre tarjetas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.315);

}

.card-img-left img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    margin-top: 20px;
    border: 1.5px solid rgb(38, 110, 204);
    border-left: 1.5px solid #46d4ff;
    border-bottom: 1.5px solid #3bdfd1;
}

.imagen-red-social {
    width: 30px;
    margin: 10px;
}

.title-card {
    font-size: 1.5rem;
}

#container-card {
    margin-bottom: 50px;
}