/* Contenedor del carrito */
#carrito {
    padding: 10px;
    background-color: #dddcdc;
    border-radius: 5px;
}

/* Estilo de cada item en el carrito */
.item-carrito {
    display: flex;
    align-items: center;
    gap: 8px; /* Menos espacio entre los elementos */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

/* Estilo de los botones + y - */
.button-disminuir, .button-agregar {
    background-color: #FF8C00; /* Naranja */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px 8px; /* Espaciado reducido */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    font-size: 1.2rem; /* Tamaño de fuente ajustado */
    width: 40px; /* Ancho fijo */
    height: 40px; /* Alto fijo */
    display: flex; /* Usamos flexbox para centrar el contenido */
    justify-content: center; /* Centrar contenido horizontalmente */
    align-items: center;
}

/* Estilo del texto de la cantidad */
.item-cantidad {
    font-size: 1.2rem; /* Tamaño de fuente ajustado */
    margin: 0 4px; /* Espacio reducido entre la cantidad y los botones */
}

/* Imagen del producto */
.item-imagen {
    width: 50px;
    height: 50px;
    margin-right: 8px; /* Añadir un poquito de espacio entre imagen y precio */
}

/* Botón de eliminar */
.cerrar-item {
    background-color: #1D4ED8; /* Azul */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px 10px; /* Espaciado interno */
    margin-left: 8px; /* Ajustado para mayor cercanía con el botón + */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* Estilo del precio */
.item-precio {
    color: black; /* Color negro para el valor del precio */
    font-size: 1.1rem; /* Tamaño ajustado */
    margin-left: 10px; /* Espacio entre imagen y precio */
}

/* Estilo del botón de logueo */
.boton_salir {
    background-color: #FF8C00; /* Naranja */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 8px 12px; /* Espaciado interno */
    text-align: center; /* Alinear el texto */
    display: inline-block; /* Asegurar que se comporte como botón */
    transition: background-color 0.3s; /* Transición suave para el hover */
}

/* Efecto hover del botón de logueo */
.boton_salir:hover {
    background-color: #e67600; /* Tono más oscuro de naranja al pasar el ratón */
}

#canTotal{
    font-weight: bold;
}

#total{
    font-weight: bold;
    font-size: 18px;
}